@model HaverDevProject.Models.NcrProcurementDTO

@{
    ViewData["Title"] = "Edit";
}



<div class="col-md-8 col-10 mx-auto">
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div class="card border-2">
            <div class="card-header bg-custom-color mb-2 d-flex justify-content-between">
                <div>
                    <h2 class="m-0">Edit NCR</h2>
                </div>
                <div class="justify-content-end">
                    <p class="m-0">Fields marked <span class="fw-bold text-danger">*</span> are required.</p>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="card-body col-lg-10 col-11 mx-auto">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="NcrNumber" class="control-label"></label>
                            <input asp-for="NcrNumber" class="form-control" readonly />
                            <span asp-validation-for="NcrNumber" class="text-danger"></span>
                        </div>
                    </div>
                    @* <div class="col-6">
                    <div class="form-group">
                    <label asp-for="NcrQa.NcrQacreationDate" class="control-label"></label>
                    <input asp-for="NcrQa.NcrQacreationDate" class="form-control" readonly />
                    <span asp-validation-for="NcrQa.NcrQacreationDate" class="text-danger"></span>
                    </div>
                    </div> *@
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="pb-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Check Yes or No if Supplier Requested a Return"> Supplier Return Request <span class="fw-bold text-danger">*</span></label>
                            <div class="text-center">
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" asp-for="NcrProcSupplierReturnReq" value="true" checked />
                                    <label class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" asp-for="NcrProcSupplierReturnReq" value="false" />
                                    <label class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="pb-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Check Yes or No if the Product is to be Disposed on Site"> Dispose on Site? <span class="fw-bold text-danger">*</span></label>
                            <div class="text-center">
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" asp-for="NcrProcDisposedAllowed" value="true" checked />
                                    <label class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" asp-for="NcrProcDisposedAllowed" value="false" />
                                    <label class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="row supplier-return-fields">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="SupplierReturnMANum" class="control-label" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Return Material Authorization Number"> Supplier RMA # <span class="fw-bold text-danger">*</span></label>
                            <input asp-for="SupplierReturnMANum" class="form-control" />
                            <span asp-validation-for="SupplierReturnMANum" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group"> 
                            <label asp-for="SupplierReturnName" class="control-label" class="control-label" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Name of Delivery Service"> Carrier Name <span class="fw-bold text-danger">*</span></label>
                            <input asp-for="SupplierReturnName" class="form-control" />
                            <span asp-validation-for="SupplierReturnName" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row supplier-return-fields">
                    <div class="form-group">
                        <label asp-for="NcrProcExpectedDate" class="control-label" class="control-label" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Product Expected Return Date"> Expected Date <span class="fw-bold text-danger">*</span></label>
                        <input asp-for="NcrProcExpectedDate" class="form-control" type="date" 
                               value="@(Model.NcrProcExpectedDate.HasValue ? Model.NcrProcExpectedDate.Value.ToString("yyyy-MM-dd") : string.Empty)" />
                        <span asp-validation-for="NcrProcExpectedDate" class="text-danger"></span>
                    </div>
                </div>
                <div class="row supplier-return-fields">
                    <div class="form-group">
                        <label asp-for="SupplierReturnAccount" class="control-label" class="control-label" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Account Number for the Return Request"> Account # <span class="fw-bold text-danger">*</span></label>
                        <input asp-for="SupplierReturnAccount" class="form-control" /> 
                        <span asp-validation-for="SupplierReturnAccount" class="text-danger"></span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="pb-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Check Yes or No if the Supplier has been Billed"> Suppleir Billed <span class="fw-bold text-danger">*</span></label>
                            <div class="text-center">
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" asp-for="NcrProcSupplierBilled" value="true" checked />
                                    <label class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" asp-for="NcrProcSupplierBilled" value="false" />
                                    <label class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label class="pb-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Check Yes or No if the Supplier Credit is Expected"> Supplier Credit Expected <span class="fw-bold text-danger">*</span></label>
                            <div class="text-center">
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" asp-for="NcrProcCreditExpected" value="true" checked />
                                    <label class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" asp-for="NcrProcCreditExpected" value="false" />
                                    <label class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label class="pb-3" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Check Yes or No for SAP Return Completion"> SAP Return Completed <span class="fw-bold text-danger">*</span></label>
                        <div class="text-center">
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" asp-for="NcrProcSAPReturnCompleted" value="true" checked />
                                <label class="form-check-label">Yes</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input type="radio" class="form-check-input" asp-for="NcrProcSAPReturnCompleted" value="false" />
                                <label class="form-check-label">No</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label"> Current Photos:</label>
                    <div class="ml-md-3">
                        @{
                            int fileCount = Model.ProcDefectPhotos.Count;
                            if (fileCount > 0)
                            {
                                var firstFile = Model.ProcDefectPhotos.FirstOrDefault(); ;
                                if (fileCount > 1)
                                {
                                    <a class="" role="button" data-bs-toggle="collapse" href="#collapsePhotos@(Model.NcrProcurementId)"
                                       aria-expanded="false" aria-controls="collapsePhotos@(Model.NcrProcurementId)">
                                        <span class="badge bg-info">@fileCount</span> Photos...
                                    </a>
                                    <div class="collapse" id="collapsePhotos@(Model.NcrProcurementId)">
                                        @{
                                            foreach (var d in Model.ProcDefectPhotos)
                                            {
                                                <a asp-controller="NcrProcurement" asp-action="Download"
                                                   asp-route-id="@d.ProcDefectPhotoId">@d.FileName</a> <br />
                                            }
                                        }
                                    </div>
                                }
                                else
                                {
                                    <a asp-controller="NcrProcurement" asp-action="Download"
                                       asp-route-id="@firstFile.ProcDefectPhotoId">@firstFile.FileName</a>
                                }
                            }
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label custom-file-label">Upload Procurement Photos:</label>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" name="photos" multiple="multiple" />
                    </div>
                </div>
                <div class="form-group">
                    Video Link
                    <input asp-for="NcrProcDefectVideo" class="form-control" />
                    <span asp-validation-for="NcrProcDefectVideo" class="text-danger"></span>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-group d-flex justify-content-end mt-2">
                    <div>
                        <button type="button" onclick="location.href='@ViewData["returnURL"]'" class="btn btn-primary ">
                            <i class="bi bi-arrow-90deg-left"></i> Back to the @ViewData["ControllerName"] List
                        </button>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary ms-4">
                            <i class='bi-plus-square-dotted'></i> Save
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $(document).ready(function () {
            // Store the original value of NcrProcExpectedDate
            var originalExpectedDate = '@(Model.NcrProcExpectedDate?.ToString("yyyy-MM-dd"))';

            // Function to show/hide elements based on SupplierReturnRequest value
            function toggleSupplierReturnFields() {
                var supplierReturnRequest = $('input[name="NcrProcSupplierReturnReq"]:checked').val();
                var supplierReturnFields = $('.supplier-return-fields');
                var expectedDateField = supplierReturnFields.find('input[name="NcrProcExpectedDate"]');

                // Check the value of SupplierReturnRequest and toggle the visibility accordingly
                if (supplierReturnRequest === 'true') {
                    // If SupplierReturnReq is true, set the original value and show the fields
                    supplierReturnFields.show();
                    expectedDateField.val(originalExpectedDate);
                } else {
                    // If SupplierReturnReq is false, hide the fields without clearing the value
                    supplierReturnFields.hide();
                }
            }

            // Call the function on page load
            toggleSupplierReturnFields();

            // Bind the function to the change event of SupplierReturnRequest radio buttons
            $('input[name="NcrProcSupplierReturnReq"]').change(function () {
                toggleSupplierReturnFields();
            });
        });
    </script>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    </script>


}