@model HaverDevProject.Models.NcrProcurementDTO

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>NcrProcurement</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NcrProcurementId" />
            <div class="form-group">
                <label asp-for="NcrNumber" class="control-label"></label>
                <input asp-for="NcrNumber" class="form-control" readonly />
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NcrProcSupplierReturnReq" /> @Html.DisplayNameFor(model => model.NcrProcSupplierReturnReq)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NcrProcExpectedDate" class="control-label"></label>
                <input asp-for="NcrProcExpectedDate" class="form-control" />
                <span asp-validation-for="NcrProcExpectedDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NcrProcDisposedAllowed" /> @Html.DisplayNameFor(model => model.NcrProcDisposedAllowed)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NcrProcSAPReturnCompleted" /> @Html.DisplayNameFor(model => model.NcrProcSAPReturnCompleted)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NcrProcCreditExpected" /> @Html.DisplayNameFor(model => model.NcrProcCreditExpected)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NcrProcSupplierBilled" /> @Html.DisplayNameFor(model => model.NcrProcSupplierBilled)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
