@model IEnumerable<HaverDevProject.ViewModels.UserVM>

@{
    ViewBag.Title = "User Roles";
}

<h2>User Role Assignments</h2>

<div class="row mt-3 mb-2">
    <div class="d-flex justify-content-end">
        <button class="btn @ViewData["Filtering"]" type="button" data-bs-toggle="collapse" id="filterToggle" data-bs-target="#collapseFilter" aria-expanded="false" aria-controls="collapseFilter" style="margin-right: 8px;">
            @ViewData["numberFilters"]
        </button>
        <a asp-action="Create" class="btn btn-primary me-2"> <i class="bi bi-plus-square-dotted"></i> Create Users</a>
    </div>
</div>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SelectedRole)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SelectedRole)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-sm btn-outline-primary"
                   role="button" data-bs-toggle="tooltip" title="Edit @ViewData["ControllerFriendlyName"]">
                    &#x270E;
                </a>
            </td>
        </tr>
    }

</table>
@section Scripts {
    <script type="text/javascript">
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
}
