@model HaverDevProject.Models.Ncr

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ncr</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NcrNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NcrNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NcrLastUpdated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NcrLastUpdated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NcrStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NcrStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NcrId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
