@model HaverDevProject.Models.Ncr

@{
    ViewData["Title"] = "Non Conforming Report Details";
}

<div class="container mt-3">

    <div class="row">
        <div class="col-md-10 mx-auto">
            <h1><i class="bi bi-caret-right-fill"></i>Non Conforming Report Details</h1>
            @* <div class="form-group d-flex justify-content-end mt-2">
                <button class="btn btn-secondary me-4">
                    <i class="bi bi-file-pdf"></i> Download PDF
                </button>
                <button class="btn btn-secondary">
                    <i class="bi bi-file-earmark-spreadsheet"></i> Download Excel File
                </button>
            </div> *@
            <div class="row align-items-center mb-3 mt-4">

                <div class="col-auto fw-bold fs-5">
                    NCR No.:
                </div>
                <div class="col-auto fs-5">
                    @Model.NcrNumber
                </div>

                <div class="col-auto">
                    <span class="btn @(Model.StatusUpdate.StatusUpdateName == "Closed" ? "text-white bg-danger" : "text-white bg-success")" style="cursor: default;">
                        @Model.StatusUpdate.StatusUpdateName
                    </span>
                </div>

                @if (Model.StatusUpdate.StatusUpdateName == "Closed")
                {
                    <div class="col-auto">
                        <span class="fw-bold">Quality Department:</span>
                        <span> [Department Name]</span>
                    </div>

                }

                <div class="col-auto">
                    <span class="fw-bold">Last Updated:</span>
                    <span> @Model.NcrLastUpdated.ToString("yyyy-MM-dd")</span>
                </div>

            </div>

            <button class="btn custom-header-bg icon-drop text-start" type="button" data-bs-toggle="collapse" data-bs-target="#qualityRepSection" aria-expanded="true" aria-controls="qualityRepSection">
                Quality Representative <i class="bi bi-chevron-down"></i>
            </button>

            <div class="collapse show" id="qualityRepSection">
                <div class="card">
                    <div class="card-body pb-0 pt-0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="four-cols">Process Applicable</th>
                                    <th class="four-cols">Supplier Name</th>
                                    <th class="four-cols">PO or Prod. No.</th>
                                    <th class="four-cols">Sales Order No.</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var qa in Model.NcrQas)
                                {
                                    <tr>
                                        <td class="four-cols">@qa.ProApp.ProAppName</td>
                                        <td class="four-cols">@qa.OrderDetails.FirstOrDefault().Item.Supplier.SupplierName</td>
                                        <td class="four-cols">@qa.OrderDetails.FirstOrDefault().OrderNumber</td>
                                        <td class="four-cols">@qa.NcrQasalesOrder</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="card-body pb-0 pt-0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Item Marked Non Conforming</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var qa in Model.NcrQas)
                                {
                                    <tr>
                                        <td>@(qa.NcrQaitemMarNonConforming == true ? "Yes" : "No")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            Item Information
                        </div>
                        <div class="card-body pb-0 pt-0">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="four-cols">SAP No.</th>
                                        <th class="four-cols">Description</th>
                                        <th class="four-cols">Quantity Received</th>
                                        <th class="four-cols">Quantity Defective</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var qa in Model.NcrQas)
                                    {
                                        <tr>
                                            <td class="four-cols">@qa.OrderDetails.FirstOrDefault().Item.ItemNumber</td>
                                            <td class="four-cols">@qa.OrderDetails.FirstOrDefault().Item.ItemName</td>
                                            <td class="four-cols">@qa.OrderDetails.FirstOrDefault().OrderQuanReceived</td>
                                            <td class="four-cols">@qa.OrderDetails.FirstOrDefault().OrderQuanDefective</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header">
                            Defect Information
                        </div>
                        <div class="card-body pb-0 pt-0">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="two-cols-1">Name</th>
                                        <th class="two-cols">Description</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var qa in Model.NcrQas)
                                    {
                                        <tr>
                                            <td class="two-cols-1">@qa.OrderDetails.FirstOrDefault().Item.ItemDefects.FirstOrDefault().Defect.DefectName</td>
                                            <td class="two-cols">@qa.OrderDetails.FirstOrDefault().Item.ItemDefects.FirstOrDefault().Defect.DefectDesription</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-body pb-0">
                        <table class="table m-0">
                            <thead class="custom-light-bg">
                                <tr>
                                    <th class="three-cols">Quality Representative</th>
                                    <th class="three-cols">Creation Date</th>
                                    <th class="three-cols">Last Updated</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var qa in Model.NcrQas)
                                {
                                    <tr>
                                        <td class="three-cols">R. May</td>
                                        <td class="three-cols">@qa.NcrQacreationDate.ToString("yyyy-MM-dd")</td>
                                        <td class="three-cols">@qa.NcrQalastUpdated.ToString("yyyy-MM-dd")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
                <button class="btn custom-secondary-bg icon-drop text-start" type="button" data-bs-toggle="collapse" data-bs-target="#additionalInfo" aria-expanded="false" aria-controls="additionalInfo">
                    Additional Information <i class="bi bi-chevron-down"></i>
                </button>
                <div class="collapse" id="additionalInfo">
                    <div class="card-header">
                        Images
                    </div>
                    <div class="card-body pb-0">
                        <div class="row">
                            <div class="col-md-6">
                                <img src="~/images/img-example1.png" class="img-fluid" alt="Description of Image 1">
                            </div>
                            <div class="col-md-6">
                                <img src="~/images/img-example2.png" class="img-fluid" alt="Description of Image 2">
                            </div>
                        </div>
                    </div>
                    <div class="card-header">
                        Attachments / Comments
                    </div>
                    <div class="card-body">
                        @foreach (var qa in Model.NcrQas)
                        {
                            @if (qa.OrderDetails.FirstOrDefault()?.Item?.ItemDefects.FirstOrDefault()?.ItemDefectVideos.FirstOrDefault()?.ItemDefectVideoLink?.Any() == true)
                            {
                                <a href="@qa.OrderDetails.FirstOrDefault()?.Item?.ItemDefects.FirstOrDefault()?.ItemDefectVideos.FirstOrDefault()?.ItemDefectVideoLink" target="_blank">Video Link</a>
                            }
                            else
                            {
                                <a href="https://www.youtube.com/watch?v=7KsmlwSPlsM" target="_blank">Click to watch the video</a>
                            }
                        }
                    </div>
                </div>
            </div>

            <button class="btn custom-header-bg icon-drop text-start" type="button" data-bs-toggle="collapse" data-bs-target="#engSection" aria-expanded="true" aria-controls="engSection">
                Engineering <i class="bi bi-chevron-down"></i>
            </button>

            <div class="collapse show" id="engSection">
                <div class="card">
                    <div class="card-body pb-0 pt-0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="two-cols-1">Review by HBC Engineering</th>
                                    <th class="two-cols">Disposition</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var e in Model.NcrEngs)
                                {
                                    <tr>
                                        <td class="two-cols-1">@e.EngDispositionType.EngDispositionTypeName</td>
                                        <td class="two-cols">@e.NcrEngDispositionDescription</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-body pb-0 pt-0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Customer Notification Required</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var e in Model.NcrEngs)
                                {
                                    <tr>
                                        <td>@(e.NcrEngCustomerNotification == true ? "Yes" : "No")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-body pb-0 pt-0">
                        <table class="table">
                            <thead>
                                <tr class="custom-light-bg">
                                    <th class="three-cols">Engineer</th>
                                    <th class="three-cols">Creation Date</th>
                                    <th class="three-cols">Last Updated</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var e in Model.NcrEngs)
                                {
                                    <tr>
                                        <td class="three-cols">T. Jones</td>
                                        <td class="three-cols">@e.NcrEngCreationDate.ToString("yyyy-MM-dd")</td>
                                        <td class="three-cols">@e.NcrEngLastUpdated.ToString("yyyy-MM-dd")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-header">
                        Drawing Information
                    </div>
                    <div class="card-body pb-0 pt-0">
                        <table class="table">
                            <thead>
                                @foreach (var e in Model.NcrEngs)
                                {
                                    <tr>
                                        <th>Drawing Update Required</th>
                                        <th>@(e.Drawings.Any() ? "Original Review Number" : "")</th>
                                        <th>@(e.Drawings.Any() ? "Updated Review Number" : "")</th>
                                        <th>@(e.Drawings.Any() ? "Engineer" : "")</th>
                                        <th>@(e.Drawings.Any() ? "Revision Date" : "")</th>
                                    </tr>
                                }
                            </thead>
                            <tbody>
                                @foreach (var e in Model.NcrEngs)
                                {
                                    <tr>
                                        <td>@(e.Drawings.Any() ? "Yes" : "No")</td>
                                        <td>@e.Drawings.FirstOrDefault().DrawingOriginalRevNumber</td>
                                        <td>@e.Drawings.FirstOrDefault().DrawingUpdatedRevNumber</td>
                                        <td>J. Williams</td>
                                        <td>@e.Drawings.FirstOrDefault().DrawingRevDate.ToString("yyyy-MM-dd")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <button class="btn custom-header-bg icon-drop text-start" type="button" data-bs-toggle="collapse" data-bs-target="#purchSection" aria-expanded="true" aria-controls="purchSection">
                Purchasing <i class="bi bi-chevron-down"></i>
            </button>

            <div class="collapse show" id="purchSection">
                <div class="card">
                    <div class="card-body pb-0 pt-0">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th class="two-cols-1">Preliminary Decision</th>
                                    <th class="two-cols">Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var p in Model.NcrPurchasings)
                                {
                                    <tr>
                                        <td class="two-cols-1">@p.OpDispositionType.OpDispositionTypeName</td>
                                        <td class="two-cols">@p.NcrPurchasingDescription</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-body pb-0 pt-0">
                        <table class="table">
                            <thead>
                                @foreach (var p in Model.NcrPurchasings)
                                {
                                    <tr>
                                        <th>Was CAR raised?</th>
                                        <th>@(p.Cars.Any() ? "Car Number" : "")</th>
                                        <th>Follow Up Required?</th>
                                        <th>@(p.FollowUps.Any() ? "Follow Up Type" : "")</th>
                                        <th>@(p.FollowUps.Any() ? "Follow Up Expected Date" : "")</th>
                                    </tr>
                                }
                            </thead>
                            <tbody>
                                @foreach (var p in Model.NcrPurchasings)
                                {
                                    <tr>
                                        <td>@(p.Cars.Any() ? "Yes" : "No")</td>
                                        <td>@p.Cars.FirstOrDefault().CarNumber</td>
                                        <td>@(p.FollowUps.Any() ? "Yes" : "No")</td>
                                        <td>@p.FollowUps.FirstOrDefault().FollowUpType.FollowUpTypeName</td>
                                        <td>@p.FollowUps.FirstOrDefault().FollowUpExpectedDate.ToString("yyyy-MM-dd")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-body pb-0 pt-0">
                        <table class="table">
                            <thead class="custom-light-bg">
                                @foreach (var p in Model.NcrPurchasings)
                                {
                                    <tr>
                                        <th class="three-cols">Operations Manager</th>
                                        <th class="three-cols">Creation Date</th>
                                        <th class="three-cols">Last Updated</th>
                                    </tr>
                                }
                            </thead>
                            <tbody>
                                @foreach (var p in Model.NcrPurchasings)
                                {
                                    <tr>
                                        <td class="three-cols">L. Pentland</td>
                                        <td class="three-cols">@p.NcrPurchCreationDate.ToString("yyyy-MM-dd")</td>
                                        <td class="three-cols">@p.NcrPurchasingLastUpdated.ToString("yyyy-MM-dd")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <button class="btn custom-header-bg icon-drop text-start" type="button" data-bs-toggle="collapse" data-bs-target="#reinSection" aria-expanded="true" aria-controls="reinSection">
                Re-Inspection <i class="bi bi-chevron-down"></i>
            </button>

            <div class="collapse show" id="reinSection">
                <div class="card">
                    <div class="card-body pb-0 pt-0">
                        <table class="table">
                            <thead>
                                @foreach (var ri in Model.NcrReInspects)
                                {
                                    <tr>
                                        <th class="two-cols-1">Re-Inspection Acceptable?</th>
                                        <th class="two-cols">@(ri.NcrReInspectAcceptable ? "" : "New NCR Number")</th>
                                    </tr>
                                }
                            </thead>
                            <tbody>
                                @foreach (var ri in Model.NcrReInspects)
                                {
                                    <tr>
                                        <td class="two-cols-1">@(ri.NcrReInspectAcceptable ? "Yes" : "No")</td>
                                        <td class="two-cols">@ri.NcrReInspectNewNcrNumber</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="card-body pb-0 pt-0">
                        <table class="table">
                            <thead>
                                @foreach (var ri in Model.NcrReInspects)
                                {
                                    <tr class="custom-light-bg">
                                        <th class="three-cols">Quality Inspector</th>
                                        <th class="three-cols">Creation Date</th>
                                        <th class="three-cols">Last Updated</th>
                                    </tr>
                                }
                            </thead>
                            <tbody>
                                @foreach (var ri in Model.NcrReInspects)
                                {
                                    <tr>
                                        <td class="three-cols">R. May</td>
                                        <td class="three-cols">@ri.NcrReInspectCreationDate.ToString("yyyy-MM-dd")</td>
                                        <td class="three-cols">@ri.NcrReInspectLastUpdated.ToString("yyyy-MM-dd")</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div class="form-group d-flex justify-content-end mt-2">
                <button class="btn btn-secondary me-4">
                    <i class="bi bi-file-pdf"></i> Download PDF
                </button>
                <button class="btn btn-secondary me-4">
                    <i class="bi bi-file-earmark-spreadsheet"></i> Download Excel File
                </button>
                <button type="button" onclick="location.href='@Url.Action("Index")'" class="btn btn-primary">
                    <i class="bi bi-arrow-90deg-left"></i> Back to NCR List
                </button>
            </div>
        </div>
    </div>
</div>
