@model HaverDevProject.Models.NcrQa

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NcrQa</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NcrQaItemMarNonConforming)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NcrQaItemMarNonConforming)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NcrQaProcessApplicable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NcrQaProcessApplicable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NcrQacreationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NcrQacreationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NcrQaOrderNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NcrQaOrderNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NcrQaSalesOrder)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NcrQaSalesOrder)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NcrQaQuanReceived)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NcrQaQuanReceived)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NcrQaQuanDefective)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NcrQaQuanDefective)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NcrQaDescriptionOfDefect)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NcrQaDescriptionOfDefect)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NcrQauserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NcrQauserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NcrQaEngDispositionRequired)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NcrQaEngDispositionRequired)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ncr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ncr.NcrNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Item)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Item.ItemName)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="NcrQaId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
