@model HaverDevProject.Models.NcrReInspect

@{
    ViewData["Title"] = "Edit";
}

<div class="col-md-8 col-10 mx-auto">
    <h1><i class="bi bi-caret-right-fill"></i>Reinspection</h1>
</div>

<div class="col-md-8 col-10 mx-auto">
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <input type="hidden" asp-for="NcrReInspectId" />
        <input type="hidden" asp-for="NcrId" />

        <div class="card border-2">
            <div class="card-header bg-custom-color mb-2 d-flex justify-content-between">
                <div>
                    <h2 class="m-0">Edit NCR</h2>
                </div>
                <div class="justify-content-end">
                    <p class="m-0">Fields marked <span class="fw-bold text-danger">*</span> are required.</p>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="card-body col-lg-10 col-11 mx-auto">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="NcrId" class="control-label"><b>NCR No. </b></label>
                            <select asp-for="NcrId" class="form-control" asp-items="ViewBag.NcrId" disabled></select>
                            <span asp-validation-for="NcrId" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <b>Date</b>
                            <input asp-for="NcrReInspectCreationDate" class="form-control" readonly />
                        </div>
                    </div>
                    @* <div class="col-6">
                    <div class="form-group">
                    <label asp-for="NcrReInspectPhotos" class="control-label"></label>
                    <input type="file" name="Photos" multiple />
                    </div>
                    </div> *@
                </div>
                <div class="row">
                    <div class="col-6">
                        <div class="form-group">
                            <label class="pb-3"><b>Reinspection Acceptable? </b><small data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Is this NCR Reinspection Acceptable?">(Y/N)</small></label>
                            <span class="fw-bold text-danger">*</span>
                            <div class="text-left">
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" asp-for="NcrReInspectAcceptable" value="true" />
                                    <label class="form-check-label">Yes</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input type="radio" class="form-check-input" asp-for="NcrReInspectAcceptable" value="false" />
                                    <label class="form-check-label">No</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="form-group">
                            <label asp-for="NcrReInspectUserId" class="control-label"><b>Inspector's Name </b><small data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Name of the Inspector">(e.g. J. Doe)</small></label>
                            <span class="fw-bold text-danger">*</span>
                            <select asp-for="NcrReInspectUserId" class="form-control">
                                <option value="1">J. Doe</option>
                                <option value="2">E. Xample</option>
                                <option value="3">S. Ample</option>
                                <option value="4">T. Est</option>
                            </select>
                            <span asp-validation-for="NcrReInspectUserId" class="text-danger"></span>
                        </div>
                    </div>
                    
                </div>
               
                <div class="form-group">
                    <label class="control-label"><b>Current Photos</b></label>
                    <div class="ml-md-3">
                        @{
                            int fileCount = Model.NcrReInspectPhotos.Count;
                            if (fileCount > 0)
                            {
                                var firstFile = Model.NcrReInspectPhotos.FirstOrDefault(); ;
                                if (fileCount > 1)
                                {
                                    <a class="" role="button" data-bs-toggle="collapse" href="#collapsePhotos@(Model.NcrReInspectId)" 
                                        aria-expanded="false" aria-controls="collapsePhotos@(Model.NcrReInspectId)">
                                        <span class="badge bg-info">@fileCount</span> Photos...
                                    </a>
                                    <div class="collapse" id="collapsePhotos@(Model.NcrReInspectId)">
                                        @{
                                            foreach (var d in Model.NcrReInspectPhotos)
                                            {
                                                <a asp-controller="NcrReInspect" asp-action="Download" 
                                                    asp-route-id="@d.NcrReInspectPhotoId">@d.FileName</a> <br />
                                            }
                                        }
                                    </div>
                                }
                                else
                                {
                                    <a asp-controller="NcrReInspect" asp-action="Download" 
                                        asp-route-id="@firstFile.NcrReInspectPhotoId">@firstFile.FileName</a>
                                }
                            }
                        }
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label custom-file-label"><b>Upload Additional Photos</b></label>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" name="Photos" multiple="multiple" />
                    </div>
                </div>

                <div class="form-group">
                    <label asp-for="NcrReInspectDefectVideo" class="control-label"><b>Video Links </b><small data-bs-toggle="tooltip" data-bs-placement="top" data-bs-custom-class="custom-tooltip" data-bs-title="Add multiple video links separated by a comma">(e.g. https://haverniagara.com, https://www.google.ca)</small></label>
                    <input asp-for="NcrReInspectDefectVideo" class="form-control" />
                    <span asp-validation-for="NcrReInspectDefectVideo" class="text-danger"></span>
                </div>

            </div>

        </div>
        <div class="card-footer">
            <div class="form-group d-flex justify-content-end mt-2">
                <div>
                    <button type="button" onclick="location.href='@ViewData["returnURL"]'" class="btn custom-btn-color">
                        <i class="bi bi-arrow-90deg-left"></i> Back to NCR Log
                    </button>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary ms-4">
                        <i class="bi bi-floppy"></i> Save and Close
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

@* <h1>Edit</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="NcrReInspectId" />
            <div class="form-group">
                <label asp-for="NcrId" class="control-label"></label>
                <select asp-for="NcrId" class="form-control" asp-items="ViewBag.NcrId" disabled></select>
                <span asp-validation-for="NcrId" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="NcrReInspectAcceptable" /> @Html.DisplayNameFor(model => model.NcrReInspectAcceptable)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="NcrReInspectUserId" class="control-label"></label>
                <input asp-for="NcrReInspectUserId" class="form-control" />
                <span asp-validation-for="NcrReInspectUserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NcrReInspectPhotos" class="control-label"></label>
                <input type="file" name="Photos" multiple />
            </div>
            <div class="form-group">
                <label asp-for="NcrReInspectDefectVideo" class="control-label"></label>
                <input asp-for="NcrReInspectDefectVideo" class="form-control" />
                <span asp-validation-for="NcrReInspectDefectVideo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save and Close" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl);
        });
    </script>
@*     <script>
        document.addEventListener("DOMContentLoaded", function () {
            var radioButtons = document.getElementsByName("NcrReInspectAcceptable");

            // Loop through each radio button
            radioButtons.forEach(function (radio) {
                // Add change event listener to each radio button
                radio.addEventListener("change", function () {
                    if (this.value === "false") {
                        // If "No" radio button is selected, show confirmation dialog
                        var confirmResult = confirm("Do you want to make a new NCR?");
                        if (!confirmResult) {
                            // If user cancels, keep "Yes" radio button selected
                            document.querySelector('input[value="true"]').checked = true;
                        } else {
                            window.location.href = "/NcrQa/Create";
                            // const urlParams = new URLSearchParams(window.location.search);
                            // const value = urlParams.get('NcrNumber');

                            // window.history.back();

                        }
                    } else {
                        // If "Yes" radio button is selected, do nothing
                    }
                });
            });
        });
    </script>
 *@}
