@model HaverDevProject.Models.NcrEng

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NcrEng</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NcrEngCustomerNotification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NcrEngCustomerNotification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NcrEngDispositionDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NcrEngDispositionDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NcrEngUserId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NcrEngUserId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EngDispositionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EngDispositionType.EngDispositionTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ncr)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ncr.NcrNumber)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.NcrEngId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
