@model HaverDevProject.ViewModels.NcrEngDTO

@{
    ViewData["Title"] = "Edit";
}

<div class="col-md-8 col-10 mx-auto">
    <h1><i class="bi bi-caret-right-fill"></i>Engineer</h1>
</div>

<div class="col-md-8 col-10 mx-auto">
    <form asp-action="Edit" method="post" enctype="multipart/form-data">
        <div class="card border-2">
            <div class="card-header bg-custom-color mb-2 d-flex justify-content-between">
                <div>
                    <h2 class="m-0">Add to NCR</h2>
                </div>
                <div class="justify-content-end">
                    <p class="m-0">Fields marked <span class="fw-bold text-danger">*</span> are required.</p>
                </div>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            </div>
            <div class="card-body col-lg-10 col-11 mx-auto">
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="NcrNumber" class="control-label"></label>
                            <input asp-for="NcrNumber" class="form-control" readonly />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group form-drop">
                            <label class="pb-3">Review by HBC Engineering: (indicate disposition by selecting one of the following)</label>
                           @*  <label asp-for="EngDispositionTypeId" class="control-label"></label> *@
                            <select asp-for="EngDispositionTypeId" class="form-control"
                                    asp-items="ViewBag.EngDispositionTypeId"></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group form-check">
                            <label class="form-check-label">
                                
                                <input class="form-check-input" asp-for="NcrEngCustomerNotification" />
                                @* @Html.DisplayNameFor(model => model.NcrEngCustomerNotification) *@
                           
                                Check the box if customer requires notification of NCR (if checked, raise message to customer detailing issues)
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="form-group">
                            Disposition (Sequence of work steps required when 'repair' or 'rework' indicated)
                            @* <label asp-for="NcrEngDispositionDescription" class="control-label"></label> *@
                            <textarea asp-for="NcrEngDispositionDescription" class="form-control"></textarea>
                            <span asp-validation-for="NcrEngDispositionDescription" class="text-danger"></span>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label"> Current Photos:</label>
                    <div class="ml-md-3">
                        @{
                            int fileCount = Model.EngDefectPhotos.Count;
                            if (fileCount > 0)
                            {
                                var firstFile = Model.EngDefectPhotos.FirstOrDefault(); ;
                                if (fileCount > 1)
                                {
                                    <a class="" role="button" data-bs-toggle="collapse" href="#collapsePhotos@(Model.NcrEngId)" aria-expanded="false" aria-controls="collapsePhotos@(Model.NcrEngId)">
                                        <span class="badge bg-info">@fileCount</span> Photos...
                                    </a>
                                    <div class="collapse" id="collapsePhotos@(Model.NcrEngId)">
                                        @{
                                            foreach (var d in Model.EngDefectPhotos)
                                            {
                                                <a asp-controller="NcrEng" asp-action="Download" asp-route-id="@d.EngDefectPhotoId">@d.FileName</a> <br />
                                            }
                                        }
                                    </div>
                                }
                                else
                                {
                                    <a asp-controller="NcrEng" asp-action="Download" asp-route-id="@firstFile.EngDefectPhotoId">@firstFile.FileName</a>
                                }
                            }
                        }
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label custom-file-label">Upload Engineer Photos:</label>
                    <div class="input-group mb-3">
                        <input type="file" class="form-control" name="Photos" multiple="multiple" />
                    </div>

                </div>

       
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" asp-for="DrawingRequireUpdating" />
                                    @Html.DisplayNameFor(model => model.DrawingRequireUpdating)
                                </label>
                            </div>
                        </div>
                    </div>
                <div id="drawingConditional" class="row hidden">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="DrawingOriginalRevNumber" class="control-label"></label>
                                <input asp-for="DrawingOriginalRevNumber" class="form-control" />
                                <span asp-validation-for="DrawingOriginalRevNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="DrawingUserId" class="control-label"></label>
                                <input asp-for="DrawingUserId" class="form-control" />
                                <span asp-validation-for="DrawingUserId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="DrawingUpdatedRevNumber" class="control-label"></label>
                                <input asp-for="DrawingUpdatedRevNumber" class="form-control" />
                                <span asp-validation-for="DrawingUpdatedRevNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label asp-for="NcrEngUserId" class="control-label"></label>
                                <input asp-for="NcrEngUserId" class="form-control" />
                                <span asp-validation-for="NcrEngUserId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="col-12">
                        <div class="form-group">
                            <label asp-for="DrawingRevDate" class="control-label"></label>
                            <input asp-for="DrawingRevDate" class="form-control" />
                            <span asp-validation-for="DrawingRevDate" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <div class="form-group d-flex justify-content-end mt-2">
@*                     <div>
                        <button type="button" onclick="location.href='@ViewData[" returnURL"]'"
                                class="btn btn-primary ">
                            <i class="bi bi-arrow-90deg-left"></i> Back to the @ViewData["ControllerName"] List
                        </button>
                    </div> *@
                    <div>
                        <button type="submit" class="btn btn-primary ms-4">
                            <i class='bi-plus-square-dotted'></i> Save
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

    <script>
        $(document).ready(function () {
            // Listen for changes to the checkbox
            $('#DrawingRequireUpdating').change(function () {
                if (this.checked) {
                    $('#drawingConditional').removeClass('hidden');
                } else {
                    $('#drawingConditional').addClass('hidden');
                }
            });
        });
    </script>
}